:root {
  --primary: #0033a0;
  --background: #f5f5f5;
  --text: #333;
  --white: #ffffff;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: var(--background);
}

/* Header */
header {
    background: var(--primary);
    color: var(--white);
    text-align: center;
    padding: 1rem;
}

/* Main */
main {
    padding: 1rem;
}


section {
    margin-bottom: 1.5rem;
    background: var(--white);
    padding: 1rem;
    border-radius: 8px;
}

/* Images */
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* Typography */
h1, h2 {
    text-align: center;
}

p {
    text-align: center;
}

/* Footer */
footer {
    background: var(--text);
    color: var(--white);
    text-align: center;
    padding: 1rem;
}

/* MEDIA QUERY (solo aquí cambios de layout) */
@media (min-width: 768px) {

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
  }

 
  .weather h2::after {
    content: " ⛅";
  }

  /* Oculta SVG en desktop */
  .weather img {
    display: none;
  }
}